@media screen and (max-width: 600px) {
    .header-section{
        width: 100%;
    }
    .web-sections{
        width: 100%;
    }
    .header-container{
        flex-direction: column;
    }
    .banner-section{
        width: 100%;
    }
    .banner-contents{
        
        width: 80%;
    }
    .banner-title{
        font-size: 30px;
    }
    .banner-image{
        height: 100vh;
    }
    .required form{
        flex-direction: column;
        gap: 0;
    }
    .required form label{
        display: none;
    }
    .popular-tour{
        width: 100%;
        flex-direction: column;
    }
    .popular-tour-content{
        width: calc(90% - 25px);
    }
    .popular-tour-img{
        width: calc(90% - 25px);
    }
    .row{
        flex-direction: column;
    }
    .destination-section{
        width: 90%;
    }
    .row img{
        width: 100%;
    }
    
}