/* ---------links----------- */

/* Font style*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: orangered;
    --section-width: 1250px;
}


/* header styles */
.header-section{
    width: var(--section-width);
    margin: 0% auto;
}
.header-container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-title{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
}
.web-sections{
    width: 50%;
}
.web-sections ul li{
    list-style-type: none;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}
.web-sections ul {
    display: flex;
    justify-content: space-around;
}

/* ************************* */
.banner-section {
    position: relative;
    width: var(--section-width);
    height: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.banner-image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    background: linear-gradient(to bottom,  #2b292a, #201f2413);
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* Black background with 50% opacity */
}

.banner-contents {
    /* max-width: 90%; */
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 20px;
    transform: translate(-50%, -50%);
    text-align: center;
}
.banner-title{
    font-size: 3rem;
    color: #fff;
}
.banner-contents p{
    color: white;
    margin-top: 3rem;
    text-align: center;
}
.required{
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
    background-color: rgba(192, 186, 186, 0.521);
}
.required form{
    display: flex;
    gap: 10px;
}
.required form {

}
.input{
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}
.btn-submit{
    padding: 10px 20px;
    background-color: var(--primary-color);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    border: none;
}

/* popular tour styles */
.popular-tour{
    width: var(--section-width);
    margin: 0% auto;
    margin-top: 90px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.popular-tour-content{
    width: calc(50% - 25px);
}
.popular-tour-content p{
    margin-bottom: 30px;
}
.popular-tour-content ul li{
    margin-bottom: 20px;
}
.popular-tour-content ul{
    padding-left: 20px;
    color: rgb(105, 103, 103);
}
.popular-tour-img{
    width: calc(50% - 25px);
}
.popular-tour-img img{
    width: 100%;
}
.primary-btn{
    padding: 10px 20px;
    background-color: var(--primary-color);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
}

/* destination section */
.destination-section{
    width: var(--section-width);
    margin: 0% auto;
}
.destinations{

}
.row{
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 10px;
}
.row img{
    width: calc(100% - 5px);
    height: calc(300px - 10px);
    margin-bottom: 10px;
}
/* why choose section */
.choose-reason-section{
    max-width: var(--section-width);
    margin: 0 auto;
    margin-bottom: 100px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
}

.card{
    flex-basis: 600px;
    padding: 30px;
    border-radius: 10px;
    
}
.card1{
    background-color: rgba(255, 121, 73, 0.041);
    border:1px solid rgba(253, 111, 59, 0.137);
}
.card2{
    background-color: rgba(113, 220, 253, 0.103);
    border:1px solid rgba(113, 220, 253, 0.301);
}
.card3{
    background-color: rgba(253, 151, 113, 0.103);
    border:1px solid rgba(253, 111, 59, 0.137);
}
.card img{
    width: 22%;
}
/* Deals & Discounts section */
.Deals-Discounts-section{
    max-width: var(--section-width);
    margin: 0% auto;
    margin-bottom: 50px;
}
.deals-cards{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.deals-card1{
    width: 100%;
    padding: 55px;
    display: flex;
    justify-content: end;
    border-radius: 15px;
    background-image: url(/Images/Group\ 39.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.deals-card2{
    width: 100%;
    padding: 55px;
    display: flex;
    justify-content: start;
    border-radius: 15px;
    background-image: url(/Images/Group\ 40.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.deals-card3{
    width: 100%;
    padding: 55px;
    display: flex;
    justify-content: end;
    border-radius: 15px;
    background-image: url(/Images/Group\ 39.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.package-card{
    width: 50%;
    padding: 50px;
    border-radius: 15px;
    background-color: #ffffffde;
    border: 2px solid white;
}
.package-card > div{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
.package-card > div p i{
    color: orangered;
}
.package-card > div p {
    font-size: 1.1rem;
}
.package-card h4{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.package-card p{
    margin-bottom: 20px;
    color: gray;
}
/* ****************** */
.video-graphy{
    width: var(--section-width);
    margin: 0% auto;
    margin-top: 90px;
    margin-bottom: 90px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.video-graphy-content{
    width: calc(45% - 25px);
}
.video-graphy-mp4{
    width: calc(55% - 25px);
}
.video-graphy-content p{
    margin-bottom: 30px;
}
.video-graphy-content ul li{
    margin-bottom: 20px;
}
.video-graphy-content ul{
    padding-left: 20px;
    color: rgb(105, 103, 103);
}
.video-graphy-mp4 video{
    width: 100%;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    background-size: cover;
}
/* newsletter section */
.newsletter-section{
    width: var(--section-width);
    margin: 0% auto;
    display: flex;
    gap: 30px;
}
.newsletter-content{
    width: 40%;
}
.newsletter-content form{
    border: 2px solid orangered;
    padding: 40px;
    border-radius: 15px;
}
.newsletter-content form input{
    width: 100%;
    background-color: rgba(150, 150, 150, 0.151);
}
.newsletter-img{
    width: calc(60% - 30px);
}
.newsletter-img div{
    background-color: orangered; 
    color: white; 
    border-radius: 10px; 
    padding: 10px 20px;
    rotate: -30deg;
    position: absolute;
    top: 0%;

}
.newsletter-img img{
    position: relative;
    width: 100%;
}